@font-face {
  font-family: "CaroFont";
  src: url("../fonts/bank-gothic-light-bt.ttf"); }

body {
  font-family: "CaroFont", sans-serif;
  position: relative;
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

a {
  text-decoration: none;
  color: black; }

/*----ENCABEZADO----*/
header {
  position: sticky;
  top: -13.4rem;
  grid-area: header;
  z-index: 100; }

.headerFondo {
  background-image: url("../images/Fondo Arq y Dis 4.png"); }

.encabezado {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 16.5rem;
  position: relative;
  display: flex;
  align-items: flex-end; }

/*----NAVBAR----*/
ul {
  list-style-type: none;
  width: 35%;
  display: flex; }
  ul li {
    display: inline-block;
    width: 150px;
    position: relative; }
    ul li:hover ul {
      display: block; }
    ul li ul {
      position: absolute;
      display: none;
      background-color: gainsboro;
      width: auto;
      text-align: left; }
      ul li ul li {
        display: block; }

.navBar {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 25px;
  padding-left: 0; }

.boton__navBar {
  background-color: #080808;
  color: #e0dfdf;
  display: block;
  text-align: center;
  padding: 2px;
  margin-right: 1px;
  margin-left: 1px;
  overflow: hidden; }
  .boton__navBar:hover {
    background-color: #cacaca;
    color: black;
    transform: translateY(5px); }

.boton__navBar--subMenu {
  text-align: left;
  width: max-content;
  background-color: gainsboro;
  color: black; }

.nav-toggler {
  background: none;
  border: none;
  display: none; }

/*----MAIN----*/
.principal {
  width: 100%;
  background-color: #ecedee; }
  .principal section article {
    padding: 30px;
    text-align: center; }
    .principal section article img, .principal section article a img {
      padding-top: 10px;
      padding-bottom: 15px; }
    .principal section article a img {
      animation-name: viviendas;
      animation-duration: 1s; }
      .principal section article a img:hover {
        transform: scale(1.05); }
    .principal section article div img {
      width: 49%;
      padding: 10px;
      animation-name: viviendas;
      animation-duration: 1s; }
  .principal form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px; }
    .principal form fieldset {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      width: 50%; }
      .principal form fieldset div {
        display: flex;
        justify-content: center; }

h1 {
  text-align: center;
  padding: 25px; }

.gradiente {
  background-image: linear-gradient(to top, #858585, #ffffff); }

.viviendas div {
  text-align: justify; }

.oficinas div {
  text-align: end; }

.interiores div {
  text-align: center; }

.horarios {
  width: max-content;
  height: max-content;
  grid-area: horarios;
  justify-self: center; }
  .horarios table {
    width: 100%;
    text-align: center; }
    .horarios table tr th, .horarios table tr td {
      border: solid 1px black; }
    .horarios table tr td {
      padding: 2px;
      margin: 1px; }

/*----FOOTER----*/
footer {
  grid-area: footer;
  display: grid;
  grid-template-areas: "logo links";
  grid-template-columns: 5% auto; }
  footer div {
    grid-area: links;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  footer img, footer .principal section article a img, .principal section article a footer img {
    width: 100%;
    grid-area: logo; }
  footer a img, footer .principal section article a img, .principal section article footer a img {
    width: 20px; }

/*----MEDIA QUERY----*/
@keyframes viviendas {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@media (max-width: 991px) {
  header {
    top: -7.3rem; }
  .encabezado {
    height: 9rem;
    background-position: left bottom;
    padding: 0;
    margin: 0; }
  ul {
    width: 100vw; }
    ul li {
      width: 100vw; }
      ul li ul {
        width: 100vw; }
  .navBar {
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -13.75rem;
    right: 0;
    margin: 0;
    padding: 0; }
  .boton__navBar {
    width: 100vw;
    margin: 0;
    padding: 10px 0; }
    .boton__navBar:hover {
      width: 100vw;
      transform: none; }
  .navBar--visible {
    top: 13.75rem;
    transition: 0.4s; }
  .nav-toggler {
    display: block;
    position: absolute;
    right: 15px;
    bottom: 45px; } }

@media (max-width: 768px) {
  main {
    grid-template-areas: "principal" "horarios";
    grid-template-columns: 100%; }
  .encabezado {
    height: 7rem; }
  .principal section article div img {
    width: 100%; }
  .principal form fieldset {
    width: 100%; }
  .nav-toggler {
    bottom: 30px; }
  .horarios {
    width: 100%;
    height: max-content; }
    .horarios h2 {
      width: 100%;
      text-align: center; }
    .horarios table {
      width: 100%; }
  footer {
    grid-template-columns: 10% auto; }
  .nombreRed {
    display: none; } }

@media (max-width: 340px) {
  footer {
    grid-template-columns: 15% auto; } }
