/*----MAIN----*/
.principal{
    width: 100%;
    background-color: map-get($colores, cuatro);
    section{
        article{
            padding: 30px;
            text-align: center;
            img{
                padding-top: 10px;
                padding-bottom: 15px;
            }
            a{
                img{
                    @extend img ;
                    animation-name: viviendas;
                    animation-duration: 1s;
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
            div{
                img{
                    width: 49%;
                    padding: 10px;
                    animation-name: viviendas;
                    animation-duration: 1s;
                }
            }
        }
    }
    form{
        @include disp (flex, center);
        width: 100%;
        margin-bottom: 50px;
        fieldset{
            @include disp (flex, center);
            flex-direction: column;
            padding: 10px;
            width: 50%;
            div{
                @include disp (flex, center);
            }
        }
    }
}
h1{
    text-align: center;
    padding: 25px;
}
.gradiente{
    background-image: linear-gradient(to top, map-get($colores, cinco), #ffffff);
}
@each $nombre, $texto in $mainDiv {
    .#{$nombre} div{
        text-align: $texto;
    }
}
.horarios{
    width: max-content;
    height: max-content;
    grid-area: horarios;
    justify-self: center;
    table{
        width: 100%;
        text-align: center;
        tr {
            th{
                border: solid 1px black;
            }
            td{
                @extend th ;
                padding: 2px;
                margin: 1px;
            }
        }
    }
}